In [ ]:
# 1. How many passengers are in our passenger list? From here forward, weâ€™ll assume our dataset represents the full passenger list for the Titanic.
# 2. What is the overall survival rate?
# 3. How many male passengers were onboard?
# 4. How many female passengers were onboard?
# 5. What is the overall survival rate of male passengers?
# 6. What is the overall survival rate of female passengers?
# 7. What is the average age of all passengers onboard?
#     * How did you calculate this average age?
#     * Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?
# 8. What is the average age of passengers who survived?
# 9. What is the average age of passengers who did not survive?
# 10. At this (early) point in our analysis, what might you infer about any patterns
# you are seeing?
# 11. How many passengers are in each of the three classes of service (e.g. First,
# Second, Third?)
# 12. What is the survival rate for passengers in each of the three classes of service?
# 13. What else might you conclude?
# 14. Last, if we were to build a predictive model, which features in the data do you
# think we should include in the model and which can we leave out? Why?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [54]:
data = pd.read_csv('/Users/benstan/Desktop/GA-DS/SF-DAT-20-MASTER/HW assignments/hw1/titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [8]:
# Problem 1
len(data) # 891 passengers

891

In [11]:
# Problem 2
float(data["Survived"].sum())/float(len(data)) # 38.4% survival rate

0.3838383838383838

In [19]:
# Problem 3
len(data[data["Sex"]=="male"]) # 577 males

577

In [20]:
# Problem 4
len(data[data["Sex"]=="female"]) # 314 females

314

In [22]:
# Problem 5
# data[data["Sex"]=="male"]["Survived"].sum() # 109 survivors
float(data[data["Sex"]=="male"]["Survived"].sum())/float(len(data[data["Sex"]=="male"])) # 18.9% survival rate

0.18890814558058924

In [24]:
# Problem 6
data[data["Sex"]=="female"]["Survived"].sum() # 233 survivors
float(data[data["Sex"]=="female"]["Survived"].sum())/float(len(data[data["Sex"]=="female"])) # 74.2% survival rate

0.7420382165605095

In [30]:
# Problem 7
#data['Age'].sum() # total age of 21205.17
#sum(data['Age'].notnull()) # 714 non-null values in 'Age'
float(data['Age'].sum())/float(sum(data['Age'].notnull())) # Average age of 29.7

# Average computed by adding all ages in column and dividing by number of non-null entries
# I dealt with missing values by only dividing by the number of non-null values in the column; an alternative would be to use the mean() function as shown below
# data['Age'].mean()

29.69911764705882

In [31]:
# Problem 8
data[data['Survived']==1]['Age'].mean() # Average survivor was 28.3 years old

28.343689655172415

In [32]:
# Problem 9
data[data['Survived']==0]['Age'].mean() # Average deceased was 30.6 years old

30.62617924528302

In [ ]:
# Problem 10
# I would infer that older riders on the ship passed away at higher rates and that a vast majority of the deceased were men

In [39]:
# Problem 11
data.groupby('Pclass')["PassengerId"].count() # 216 in Pclass 1; 184 in Pclass 2; 491 in Pclass 3

# Alternative method yields same results
# len(data[data["Pclass"]==1])
# len(data[data["Pclass"]==2])
# len(data[data["Pclass"]==3])

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [47]:
# Problem 12

#float(sum(data[data["Pclass"]==1]["Survived"]))/float(len(data[data["Pclass"]==1])) # 62.9% survival rate in Pclass 1
#float(sum(data[data["Pclass"]==2]["Survived"]))/float(len(data[data["Pclass"]==2])) # 47.3% survival rate in Pclass 2
#float(sum(data[data["Pclass"]==3]["Survived"]))/float(len(data[data["Pclass"]==3])) # 24.2% survival rate in Pclass 3

# Alternative method yields same results
data.groupby('Pclass')["Survived"].sum()/data.groupby('Pclass')["PassengerId"].count()

Pclass
1    0.629630
2    0.472826
3    0.242363
dtype: float64

In [52]:
# Problem 13
# Possible to conclude that the higher classes had better access to rescue resources, which yielded higher survival rates
# As further exploration, I looked at at the percentage of each Pclass that were women, which shows the higher Pclasses, which had higher survival rates, 
# also had a higher composition of women, which partially explains the higher survival rates seen by women
data[data['Sex']=='female'].groupby('Pclass')["PassengerId"].count()/data.groupby('Pclass')["PassengerId"].count()

Pclass
1    0.435185
2    0.413043
3    0.293279
Name: PassengerId, dtype: float64

In [55]:
# Problem 14
# Features to keep: PassengerID, Pclass, Survived, Sex, Age, SibSp, Parch, Embarked
# Features to remove: Ticket, Fare, Name, Cabin

# I decided to keep these select features because I believe that they provide valuable information and could show trends 
# within the data. Those that I removed either served no real purpose (e.g. Name, Fare (which can be replaced by Pclass for 
# determining wealth), and Ticket) and/or have many missing values (e.g. Cabin, see below). I would be interested in investigating trends 
# regarding survival of those with children/spouses on the ship

data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64