# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os
%matplotlib inline
#os.chdir('/Users/hamed/Desktop/SF-DAT-20/Data/') #PLEASE SET THIS WORKING DIRECTORY TO YOURS
#data = pd.read_csv('/Users/benstan/Desktop/GA-DS/SF-DAT-20-MASTER/Data/ozone.csv')
data = pd.read_csv("https://raw.githubusercontent.com/ga-students/SF-DAT-20/master/Data/ozone.csv")

In [4]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [10]:
#hint check data.columns.values and use a for loop to show values line by line
for column in data.columns:
    print(column)

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [14]:
data.iloc[0:2,:] #iloc uses integers, loc uses labels

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [19]:
print(data.describe())
print(data.shape)

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000
(153, 6)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [23]:
data.iloc[-2:,:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [27]:
data.loc[46,'Ozone']
#data.iloc[46,0]

21.0

How many missing values are in the Ozone column of this data frame?

In [46]:
#sum(data['Ozone'].isnull())
len(data[data['Ozone'].isnull()])

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [44]:
data['Ozone'][data['Ozone'].notnull()].mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [57]:
data[(data['Ozone']>31) & (data['Temp']>90)].mean()
#data[data['Ozone']>31][data['Temp']>90].mean()

Ozone       89.5
Solar.R    212.8
Wind         5.6
Temp        93.4
Month        8.2
Day         14.5
dtype: float64

What is the mean of "Temp" when "Month" is equal to 6?

In [54]:
data['Temp'][data['Month']==6].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [58]:
data['Ozone'][data['Month']==5].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas